<a href="https://colab.research.google.com/github/dhiyanesh23/Python/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("dhiyanesh")  #print
x = input("enter ")  #stdin
print(x)  #stdout

dhiyanesh
enter 23
23

In [ ]:
if 23 < 32:  #conditional statement
  print("nope")
else:
  print("yep")

nope

In [ ]:
x = 23  #variables
y = "dhi"
print(x,y)

23 dhi

In [ ]:
#single line comment
"""
multi
line
comment
"""

'\nmulti\nline\ncomment\n'

In [ ]:
x = str(23)  #typecasting
y = int(23.82)
z = float(23)
a = x + "x"
print(x, y, z)
print(a)

23 23 23.0
23x

In [ ]:
x = "dhi"  #type
print(type(x))
print(isinstance(x, str))

<class 'str'>
True

In [ ]:
#variable name techniques
myVariableName = "dhiyanesh"  #camelCase
MyVariableName = "dhiyanesh"  #PascalCase
my_variable_name = "dhiyanesh"  #snake_case

In [ ]:
x, y, z = 1, 2, 3  #assign multiple values
print(x, y, z)

a = b = c = 1  #one value to multiple variables
print(a, b, c)

1 2 3
1 1 1

In [ ]:
l = ["x", "t", "q"]  #unpacking
a, b, c = l
print(a, b, c)

x t q

In [ ]:
#global and local variable
x = "global"
def myFunc():
  x = "local"
  global y
  y = "global inside function"
  print(x)
  print(y)
myFunc()
print(x)
print(y)

local
global inside function
global
global inside function

In [ ]:
#multiline string
a = """dhiyanesh is
funny"""
print(a)

dhiyanesh is
funny

In [ ]:
for a in "qwerty":  #looping through a string
  print(a, end = "")

qwerty

In [ ]:
s = "asdfg"
print(s[4])    #indexing
print(s[-5])
print(s[0:3])  #slicing
print(s[:-2])

5
g
a
asd
asd

In [ ]:
#check string
s = "dhiyanesh is from madurai"
print("dh" in s)
if "qwe" not in s:
  print("not present")

True
not present

In [ ]:
#string methods
s = "is qweRTY,zxc  "
print(len(s))  #length
print(s.upper())
print(s.lower())
print(s.isupper())
print(s.islower())
print(s.strip())  #removes whitespace from beginning or the end
print(s.lstrip("is"))
print(s.rstrip())  #by default removes spaces
print(s.replace("q", "a"))
print(s.split( ))  #by default split by spaces
print(s.split(","))
print(type(s.split()))

IS QWERTY,ZXC
is qwerty,zxc
False
False
is qweRTY,zxc
 qweRTY,zxc
is qweRTY,zxc
is aweRTY,zxc
['is', 'qweRTY,zxc']
['is qweRTY', 'zxc  ']
<class 'list'>

In [ ]:
#format
x = 7
txt = "Dhoni's number is {}"
print(txt.format(x))
print(type(format(x)))

Dhoni's number is 7
<class 'str'>

In [ ]:
#escape characters
txt = "I'm going to \"watch\" karnan"
print(txt)
txt = "this is new \nline"
print(txt) 
txt = "this is \ttab"
print(txt)

I'm going to "watch" karnan
this is new
line
this is 	tab

In [ ]:
#more string methods
s = "strinG is fun"
print(s)
print(s.capitalize())  #capitalize 1st character
print(s.title())  #capitalize the 1st character of each word
print(s.count("s"))  #count the occurence
print(s.find("s"))  #returns the position of 1st occurence
print(s.swapcase())

strinG is fun
String is fun
String Is Fun
2
0
STRINg IS FUN

In [ ]:
#boolean
print(12 == 12)
print(bool("dhi"), bool(""))
print(bool(12), bool(0))

True
True False
True False

In [ ]:
#boolean in function
def func():
  return True
print(func())
if func():
  print("yes")
else:
  print("no")

x = 0
print(isinstance(x,str))  #built-in function

True
yes
False

In [ ]:
#operators
print("qwe" is "qwe")  #identity opertors #true if both are same
print([1, 3, 4] is not [1, 2, 3, 4])
print("qwe" in "qwerty")  #membership opertors 
print("qwe" not in "qwerty")

True
True
True
False

In [ ]:
#lists are mutable but strings are immutable
l = [1, 2, 34, 45, 21]
l[0] = "mutable"
print(l)
txt = "strings"
####txt[0] = "immutable"
print(txt)

['mutable', 2, 34, 45, 21]
strings

In [ ]:
#lists
l = ["12", 2, 3, 4, 2]
print(l.index(2))
print(l.count(2))
print(list("string"))  #string to list

ls = list("string - list")  #list to string
print(ls)
s = ""
for i in ls:
  s = s + i
print(s)

if 2 in l:
  print("present")
l[0:1] = ["23", "21"]
print(l)
l[1:3] = ["one"]
print(l)

1
2
['s', 't', 'r', 'i', 'n', 'g']
['s', 't', 'r', 'i', 'n', 'g', ' ', '-', ' ', 'l', 'i', 's', 't']
string - list
present
['23', '21', 2, 3, 4, 2]
['23', 'one', 3, 4, 2]

In [ ]:
#lists built-in functions
m = [1, 2, 3, 4, 5]
n = [9, 8, 7, 6]
print(len(m))  #length of the list
m.insert(1, "one")  #inserts an item at the specified index
print(m)
m.append(6)  #adds an item to the end
print(m)
m.extend(n)  #appends elements from another list 
print(m)
m.remove("one")  #removes the specified item
print(m)
m.pop(0)  #removes the specified index #if index not mentioned removes the last element
print(m)
del m[0]  #removes the specified index
print(m)
m.clear()  #empties the list
print(m)
del m  #delete the list completely
####print(m)

5
[1, 'one', 2, 3, 4, 5]
[1, 'one', 2, 3, 4, 5, 6]
[1, 'one', 2, 3, 4, 5, 6, 9, 8, 7, 6]
[1, 2, 3, 4, 5, 6, 9, 8, 7, 6]
[2, 3, 4, 5, 6, 9, 8, 7, 6]
[3, 4, 5, 6, 9, 8, 7, 6]
[]

In [ ]:
#copy
"""You cannot copy a list simply by typing list2 = list1, 
because: list2 will only be a reference to list1, 
and changes made in list1 will automatically also be made in list2."""
thisList = [1, 3, 5]
myList = thisList.copy()  #way1
print(myList)
myList2 = list(thisList)  #way2
print(myList2)

[1, 3, 5]
[1, 3, 5]

In [ ]:
#loop through a ist
thisList = ["this", "is", "fun"]
for x in thisList:
  print(x, end = " ")
print("\n")
for i in range(len(thisList)):
  print(thisList[i], end = " ")

this is fun

this is fun

In [ ]:
#list comprehension
thisList = [1, 2, 3, 4]
[print(x, end = " ") for x in thisList]
print("\n")
newList = [x for x in thisList if x%2 == 0]
print(newList, end = " ")
newList1 = [input(x) for x in range(2)]
print(newList1)

1 2 3 4

[2, 4] 01
123
['01', '23']
3 4
3 4

In [ ]:
#sort
thisList = [1, 5, 2, 3, 4, 0, 9, 7, 6]
thisList.sort()  #ascending
print(thisList) 
thisList.sort(reverse = True)  #descending
print(thisList)
thisList.reverse()  #reverse
print(thisList)

[0, 1, 2, 3, 4, 5, 6, 7, 9]
[9, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
#tuples
#tuples are immutable
thisTuple = (1, 2, 3)
####thisTuple[0] = 5
print(thisTuple)

(1, 2, 3)

In [ ]:
#tuple methods
t = (1, 2, 3, 3)
print(t.count(3))
print(t.index(1))
#tuple is converted to list using list() method and list methods are applied

2
0

In [ ]:
#Sets 
#Sets are immutable, unordered, no duplicates
"""A set itself may be modified, 
but the elements contained in the set must be of an immutable type."""
s = {1, 2, 3, 6, 7, 4, 3, 59, 45, 5, 4, 3}
####print(s[0])
print(s)
print(len(s))  #length

{1, 2, 3, 4, 5, 6, 7, 45, 59}
9

In [ ]:
#set()
l = [1, 2, 3, 4, 5, 1, 3, 4, 5, 0]
ls = set(l)
sl = list(ls)
print(sl)

[0, 1, 2, 3, 4, 5]

In [ ]:
#access items
s = {1, 2, 3, 4, 4}
for x in s:
  print(x, end = " ")

1 2 3 4

In [ ]:
s = {1, 2, 3, 4, 7, 4}
s.add("qwe")  #add an item at the end
print(s)
t = {2, 6, 7, 8, 9, 10}
s.update(t)  #add sets/ any iterable objects(list, tuples, dictionaries) 
print(s)
u = {12, 23, 34, 56}
print(s.union(u))  #join sets
s.remove("qwe")  #removes the item, instead discard can also be used
print(s)
print(s.pop())   #removes the last item #removed element
print(s)
s.clear()  #clears the set
print(s)
del s  #delete the set completely
####print(s)

{1, 2, 3, 4, 7, 'qwe'}
{1, 2, 3, 4, 6, 7, 8, 9, 10, 'qwe'}
{1, 2, 3, 4, 34, 6, 7, 8, 9, 10, 12, 23, 56, 'qwe'}
{1, 2, 3, 4, 6, 7, 8, 9, 10}
1
{2, 3, 4, 6, 7, 8, 9, 10}
set()

In [ ]:
#more set methods
x = {"hello", "motto"}
y = {"hey", "hello"}
x.intersection_update(y)  # method will keep only the items that are present in both sets.
print(x)
x = {"hello", "motto"}
z = x.intersection(y)  #method will return a new set, that only contains the items that are present in both sets.
print(z)

{'hello'}
{'hello'}

In [ ]:
#dictionaries
#dictionaries are mutable
thisDict = {
    "brand" : "moto",
    "model" : "G5s+",
    "year"  : "2018"
}
print(thisDict["model"])  #accessing
print(thisDict.get("model"))  #accessing
print(len(thisDict))  #length
print(thisDict.keys())  #keys
print(thisDict.values())  #values
print(thisDict.items())  #items
if "model" in thisDict:  #check if key exists
  print("yes")
thisDict.update({"year" : "2017"})  #update
print(thisDict)
thisDict.update({"month" : "may"})  #adding new item
print(thisDict)
thisDict["year"] = "2018"  #change
print(thisDict)
thisDict["color"] = "black"  #adding new item
print(thisDict)
thisDict.pop("month")  #removing
print(thisDict)
thisDict.popitem()  #remove the last item
print(thisDict)
del thisDict["year"]  
print(thisDict)
thisDict.clear()
print(thisDict)
del thisDict
####print(thisDict)

G5s+
G5s+
3
dict_keys(['brand', 'model', 'year'])
dict_values(['moto', 'G5s+', '2018'])
dict_items([('brand', 'moto'), ('model', 'G5s+'), ('year', '2018')])
yes
{'brand': 'moto', 'model': 'G5s+', 'year': '2017'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2017', 'month': 'may'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2018', 'month': 'may'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2018', 'month': 'may', 'color': 'black'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2018', 'color': 'black'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2018'}
{'brand': 'moto', 'model': 'G5s+'}
{}

In [ ]:
#loop
thisDict = {
    "brand" : "moto",
    "model" : "G5s+",
    "year"  : "2018"
}
for x in thisDict:
  print(x)
  print(thisDict[x])

brand
moto
model
G5s+
year
2018

In [ ]:
#copy
"""You cannot copy a dictionary simply by typing dict2 = dict1, 
because: dict2 will only be a reference to dict1, 
and changes made in dict1 will automatically also be made in dict2."""
thisDict = {
    "brand" : "moto",
    "model" : "G5s+",
    "year"  : "2018"
}
myDict = thisDict.copy()  #way1
print(myDict)
myDict2 = dict(thisDict)  #way2
print(myDict2)

{'brand': 'moto', 'model': 'G5s+', 'year': '2018'}
{'brand': 'moto', 'model': 'G5s+', 'year': '2018'}

In [ ]:
#nested dictionaries
thisDict = {"phone1" : {"brand" : "moto", "model" : "G5s+"},
            "phone2" : {"brand" : "google", "model" : "pixel 4a"}}
print(thisDict)

{'phone1': {'brand': 'moto', 'model': 'G5s+'}, 'phone2': {'brand': 'google', 'model': 'pixel 4a'}}

In [ ]:
#conditional statements
a = 12
b = 13
if a > b:
  print("a is greater")
elif a == b:
  print("equal")
elif b > a:
  print("b is greater")
else:
  pass   #pass

"""if statements cannot be empty, 
but if you for some reason have an if statement with no content, 
put in the pass statement to avoid getting an error."""

b is greater

'if statements cannot be empty, \nbut if you for some reason have an if statement with no content, \nput in the pass statement to avoid getting an error.'

In [ ]:
#loop statements
#while loop
i = -1
while(i < 6):
  i += 1
  if (i == 1):
    continue  #Continue to the next iteration
  print(i)
  ##if (i == 3):
    ##break   #Exit the loop
else:  #run a block of code once when the condition no longer is true
  print("done")

0
2
3
4
5
6
done

In [ ]:
#for loop
for x in "dhi":
  print(x)
for x in range(0, 5, 2):
  print(x, end = " ")

d
h
i
0 2 4

In [ ]:
#functions
def func(fname):  #single argument
  print("Your name is", fname)
func("dhiyanesh")

def func(*fname):  #if the number of arguments is unknown
  print("Your name is", fname)
func("dhiyanesh", "n")

def func(a1, a2, a3, a4 = "dhiyanesh"):  #keyword arguments #default parameter value
  print(a1, a2, a3, a4)
func(a1 = "the", a3 = "is", a2 = "name")

def func(thisList):  #passing a list
  print(thisList)
func([1, 2, 3])

def func():
  return 23  #return
print(func())

def tri_recursion(k):  #recursion
  if (k > 0):
    result = k + tri_recursion(k-1)
    print(result)
  else:
    result = 0   #base condition
  return result
print(tri_recursion(4))

func = lambda a, b : a*b  #lambda
print(func(1, 2))

Your name is dhiyanesh
Your name is ('dhiyanesh', 'n')
the name is dhiyanesh
[1, 2, 3]
23
1
3
6
10
10
2

In [ ]:
#exception handling
try:  #test a block of code for errors
  #x = 1/0
  #print(a)
  print("noError")
except ZeroDivisionError:  #handle the error
  print("zero division error")
except NameError:
  print("variable not defined")
except:
  print("something went wrong")
else:  # if no errors were raised
  print("success")
finally:  #executed regardless if the try block raises an error or not
  print("try and except block is finished")

noError
success
try and except block is finished

In [ ]:
#raise
x = -9
if x < 0:
  ####raise Exception("not applicable")  
  #raise an error and stop the program

Exception: ignored

In [ ]:
#recursion
def fact(n):
  if n == 0:
    return 1     #base condition
  else:
    return(n*fact(n-1))
print(fact(5))

120

In [ ]:
#extracrunch
inp = list(map(int,input().split()))  #multiple inputs separated by space
inp1, inp2 = input(), input()  #two inputs separated by enter
inp3, inp4 = input().split()  #two inputs separated by space
print(inp)
print(inp1, inp2, inp3, inp4)
print(id(inp1))

In [ ]:
#practice
l = []
n = int(input("enter "))
for i in range(n):
    ele = int(input())
    l.append(ele)
pos = int(input())
ele = int(input())
l.insert(pos-1, ele)
print(l)

enter 3
1
2
3

In [ ]:
"""
__name__ is a special variable
__name__ == "__main__" serves as the entry point of a program
If the python interpreter is running that module (the source file) as the main program, it sets the special __name__ variable to have a value “__main__”. 
If this file is being imported from another module, __name__ will be set to the module’s name.
"""
def put():
  print("put func")
if __name__ == "__main__":
  put()

put func